.container{
    text-align: center;
    background-color: cadetblue;
    color: white;
    padding: 40px;
}
#button{
    padding: 9px;
    padding-left: 39px;
    padding-right: 39px;
    padding-left: 39px;
    font-size: 18px;
    background-color: ghostwhite;
    border: 2px solid darkslateblue
}
#type{
    border-radius: 6px;
    padding: 7px;
    padding-left: 38px;
    border: 2px solid lightblue;
    font-size:30px;
}